.card {
  background: var(--fundo-card);
  padding: 25px;
  border-radius: 16px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.12);
}

.card h2 {
  margin-bottom: 15px;
}